{% set body_classes = header.body_classes %}
<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <title>{% if header.title %}{{ header.title|e('html') }} - {% endif %}{{ site.title|default('Solarize by TEMPLATED')|e('html') }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block javascripts %}
        {% do assets.addJs('theme://js/jquery.min.js') %}
        {% do assets.addJs('theme://js/jquery.dropotron.min.js') %}
        {% do assets.addJs('theme://js/skel.min.js') %}
        {% do assets.addJs('theme://js/skel-layers.min.js') %}
        {% do assets.addJs('theme://js/init.js', {'group': 'init'} ) %}
    {% endblock %}

    {% block stylesheets %}
        {% if browser.getBrowser == 'msie' and browser.getVersion <= 8 %}
            {# do assets.addJs('theme://css/ie/html5shiv.js', {'group', 'shiv'}) #}
            {% do assets.addJs('theme://css/ie/html5shiv.js') %}
        {% endif %}

        {% do assets.addCss('theme://css/skel.css', {'group': 'noscript'}) %}
        {% do assets.addCss('theme://css/style.css', {'group': 'noscript'}) %}
        {% if browser.getBrowser == 'msie' and browser.getVersion <= 8 %}
            {# do assets.addCss('theme://css/ie/v8.css', {'group', 'ie'}) #}
            {% do assets.addCss('theme://css/ie/v8.css') %}
        {% endif %}
        {% do assets.addCss('theme://css/custom.css') %}
    {% endblock %}

    {{ assets.js() }}
    {{ assets.js('init', { 'data-theme-root': theme_url } ) }}
    {{ assets.css() }}
    <noscript>
        {{ assets.css('noscript') }}
    </noscript>

{% endblock head %}
</head>

<body class="{{ body_classes }}">

    {% block header %}

		<!-- Header Wrapper -->
			<div class="wrapper style1">

			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
							<h1><a href="#" id="logo">Solarize</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="active"><a href="index.html">Home</a></li>
									<li>
										<a href="">Dropdown</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li>
												<a href="">Phasellus consequat</a>
												<ul>
													<li><a href="#">Lorem ipsum dolor</a></li>
													<li><a href="#">Phasellus consequat</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
													<li><a href="#">Veroeros feugiat</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul>
									</li>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>Solarize</h2>
						<span>Design by Templated</span>
						<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna.</p>
					</section>
				</div>

			</div>

    {% endblock %}

    {% block body %}

		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						<div class="6u">
							<header class="major">
								<h2>Pellentesque viverra vulputate enim. Aliquam volutpat. Pellentesque tristique Risus</h2>
								<span class="byline">In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Donec pulvinar ullamcorper metus.</span>
							</header>
						</div>
						<div class="6u">
							<h3>Suspendisse dictum porta</h3>
							<p>Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Vestibulum imperdiet, magna nec eleifend semper augue mattis wisi maecenas ligula nunc lectus vestibulum euismod lacinia quam nisl.</p>
							<a href="#" class="button">Nulla aluctus eleifend</a>
						</div>
					</div>
				</section>
			</div>

		<!-- Section Two -->
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2>Cras vitae metus aliNuam</h2>
					</header>
					<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu.</p>
					<a href="#" class="button alt">Nulla aluctus eleifend</a>
				</section>
			</div>

		<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Cras vitae metus aliNuam</h2>
						<span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu.</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>

		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>Cras vitae metus aliNuam</h2>
						<span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image"><img src="{{ theme_url }}/placeholders/person.png" alt=""></a>
							<h3>Molly Millions</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ theme_url }}/placeholders/person.png" alt=""></a>
							<h3>Henry Dorsett Case</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ theme_url }}/placeholders/person.png" alt=""></a>
							<h3>Willis Corto</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ theme_url }}/placeholders/person.png" alt=""></a>
							<h3>Linda Lee</h3>
							<p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
						</div>
					</div>
				</section>
			</div>

{#
        <section id="start">
        {% block body %}
            <section id="body-wrapper" class="section">
                <section class="container {{ grid_size }}">
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </section>
            </section>
        {% endblock %}
        </section>
#}

    {% endblock body %}

{% block footer %}
	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
				</header>
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>

			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
				</div>
		</div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
