{% set data_source = data_source|default(page) %}
{% if data_source.header.portals %}
<!-- Team aka 'portals' (CSS and frontmatter) -->
	{% set portals = data_source.header.portals %}
	<div class="wrapper style5 portals">
		<section id="team" class="container">
			<header class="major">
				<h2>{{ portals.heading }}</h2>
				<span class="byline">{{ portals.byline }}</span>
			</header>
			<div class="row">
				{% for portal in portals.items|slice(0, 4) %}
				<div class="3u">
					<a href="{{ portal.target }}" alt="{{ portal.alt|default('') }}" class="image"><img src="{{ data_source.media[portal.thumbnail].resize(162,162).url }}" alt=""></a>
					<h3>{{ portal.heading }}</h3>
					<p>{{ portal.teaser }}</p>
				</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endif %}