{% set columns = columns ?: 3 %}
{% set column_units = column_units ?: (12 // columns) %}

{% if page.header.notices %}
{% set notices = page.header.notices %}
<!-- Section Three aka full_width aka 'notices' (frontmatter) -->
	<div class="wrapper style4 full_width">
		<section class="container">
			<header class="major">
				<h2>{{ notices.heading }}</h2>
				<span class="byline">{{ notices.byline }}</span>
			</header>
			<div class="row flush">
				{% for row_num in 0..notices.items|length if (row_num % columns == 0) %}
					<div class="{{ column_units }}u">
						<ul class="special-icons">
						{% for item in notices.items|slice(row_num, columns) %}
							<li>
								<span class="fa fa-{{ item.icon }}"></span>
								<h3>{% spaceless %}
									{% if item.target %}
										<a href="{{ item.target }}">{{ item.heading }}</a>
									{% else %}
										{{ item.heading }}
									{% endif %}
								{% endspaceless %}</h3>
								<p>{{ item.point }}</p>
							</li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endif %}
